APP_ENV=dev
APP_SECRET=0b03f859c0f007bd7678d4b3d88f1794

MAILER_DSN=smtp://your_gmail:your_password@smtp.gmail.com:465
DATABASE_URL=mysql://root:password@forum-mysql:3306/database

MONGODB_URL=mongodb://user:password@forum-mongo:27017/?authSource=admin
MONGODB_DATABASE=database

MY_EMAIL=gorskimarcin96@gmail.com
MY_REPOSITORY=https://github.com/gorskimarcin96
CREATED_BY=mgorski.dev

#MESSENGER_TRANSPORT_DSN=doctrine://default
#MESSENGER_TRANSPORT_DSN=redis://forum-redis:6379/messages
MESSENGER_TRANSPORT_DSN=amqp://user:password@forum-rabbitmq:5672/%2f/messages

MERCURE_PUBLISH_URL=http://mercure/.well-known/mercure
MERCURE_JWT_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJtZXJjdXJlIjp7InB1Ymxpc2giOltdfX0.QrDzn9aLK9hNEnogASZHaZj0Ys1zdYPW7b2GYCLrRTM #myJwtKey
