{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create a new post</h1>
    <div id="post_add">
        <post_add/>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('post_add') }}
{% endblock %}